= f.input :name, require: true
= f.input :email
= f.input :landline, required: true
= f.input :tax, required: true
= f.input :delivery_charges
= f.input :minimum_delivery
= f.input :active, as: :boolean
= f.button :submit, class: "btn btn-success"



